*{
    box-sizing:border-box;
}
body{
    margin: 0;
    padding: 0;
}
.block{
    background-color: green;
    height:30px;
    width:100%;
    float: left;
}
.test1{
    background-color:blue;
    height: 100px;
    width: 100px;
}
.test2{
    background-color: red;
    height: 100px;
    width: 100px;
    padding-right: 50px; 
    box-sizing:dorder-box;
}
.container{
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
}
.projects{
    padding: 100px 0;
    background-color: #34547A;
}

.project-item {
    width: 16.6%;
    float: left;   
    color: white; 
}
        
.project-content{
    width: 50%;
    float:left;
}

.project-icon{
    float: left;
    margin-right: 10px;
}
.project-title{
    font-size:16px;
    line-height: 26px;
    color: #ffffff;
}
.project-h1{
    font-weight: 500;
    font-size: 32px;
    line-height: 37px;
    text-align: center;
}